@import "../common/base";

/************************************************************/
/* VARIABLES */
/************************************************************/


/************************************************************/
/* MIXINS */
/************************************************************/


/************************************************************/
/* EXTENSIONS */
/************************************************************/


/************************************************************/
/* CLASSES */
/************************************************************/
.na-inlay {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}

.na-section {
  padding: 7rem 0 8rem 0;
}

.na-even {
  color: $color-black;
  background-color: $color-white;
}

.na-odd {
  color: $color-white;
  background-color: $color-blue-grey;
}
