<div class="na-inlay">
  <div class="na-row na-row-hcenter">
    <div class="na-column-3 na-column-tablet-4 na-column-phone-12">
      <div class="na-footer-box">
        <div class="na-footer-box-title">{{ footer?.columnLeft?.title }}</div>
        <div class="na-footer-box-content">
          <ul>
            <li *ngFor="let page of footer?.columnLeft?.pages">
              <a [routerLink]="['/page/' + page?.title | lowercase]">{{ page?.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="na-column-3 na-column-tablet-4 na-column-phone-12">
      <div class="na-footer-box">
        <div class="na-footer-box-title">{{ footer?.columnCenter?.title }}</div>
        <div class="na-footer-box-content" [innerHTML]="footer?.columnCenter?.contact"></div>
      </div>
    </div>
    <div class="na-column-6 na-column-tablet-4 na-column-phone-12">
      <div class="na-footer-box">
        <div class="na-footer-box-title">{{ footer?.columnRight?.title }}</div>
        <div class="na-footer-box-content" [innerHTML]="footer?.columnRight?.description">
        </div>
      </div>
    </div>
  </div>
</div>
