@import "../common/base";

.na-inlay {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}

.na-section {
  padding: 3rem 0;
}

.na-even {
  color: $color-black;
  background-color: $color-white;
}

.na-odd {
  color: $color-white;
  background-color: $color-blue-grey;
}
