.na-product-boxes {
  justify-content: center;

    .na-product-box {
      border: 1px solid $color-black;
      margin: 1rem;
      padding: 1rem;
      background-color: $color-black;
      color: $color-white;
      flex-direction: column;

      &:hover {
        color: $color-white;
      }

      &-icon {
        padding: 0 0 2rem 0;
        font-size: 8rem;
        text-align: center;
      }

      &-title {
        @extend %na-heading-5;
        color: $color-black;
        background-color: $color-white;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
      }

      &-details {
        background-color: $color-white;
        color: $color-black;
        padding: 0 0 1rem 0;
        text-align: center;
      }
    }
}
.na-team-boxes {

  .na-team-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-text {
    }

    &-title {

    }

    &-description {

    }

    &-image {

      @include na-phone {
        width: 100%;
      }

      width: 50%;
      height: 50%;
      margin: 1em auto;
      border: 1px solid $color-white;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
  }
 }

.na-text-box {

  h2 {
    text-align: center;
  }
}
