@import "../common/base";

/************************************************************/
/* VARIABLES */
/************************************************************/
$widths: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$positions: 1, 2, 3, 4, 5;


/************************************************************/
/* MIXINS */
/************************************************************/

@mixin na-column($suffix:"") {
  @each $width in $widths {
    .na-column#{$suffix + '-' + $width} {
      flex: #{($width/length($widths)) * 100 +'%'};
      max-width: #{($width/length($widths)) * 100 +'%'};
    }
  }
}

@mixin na-order($suffix:"") {
  @each $position in $positions {
    .na-order#{$suffix + '-' + $position} {
      order: #{$position};
    }
  }
}

@mixin na-hide($suffix:"") {
  .na-hide#{$suffix} {
    display: none !important;
  }
}


/************************************************************/
/* CLASSES */
/************************************************************/

//@include na-flexbox {
.na-row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

  &.na-row-vcenter {
    align-items: center;
  }

  &.na-row-hcenter {
    justify-content: center;
  }

  &.na-row-small-padding {
    margin: -0.5rem -1rem;
    *[class^="na-column-"] {
      padding: 0.5rem 1rem;
    }
  }

  &.na-row-padding {
    margin: -1rem;
    *[class^="na-column-"] {
      padding: 1rem;
    }
  }
  //}

  @include na-column;
  @include na-order;
  @include na-hide;

  @include na-phone {
    @include na-column('-phone');
    @include na-order('-phone');
    @include na-hide('-phone');
  }

  @include na-tablet {
    @include na-column('-tablet');
    @include na-order('-tablet');
    @include na-hide('-tablet');
  }

  @include na-desktop {
    @include na-column('-desktop');
    @include na-order('-desktop');
    @include na-hide('-desktop');
  }
}
